/* Global */
/* html{
    min-height: 100%;
    overflow: hidden;
  }
body{
height: calc(100vh - 8em);
padding: 4em;
color: rgba(255,255,255,.75);
background-color: rgb(25,25,25);  
}
*/
.line-1{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    width: 60%;
} 

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44, end) 1s 1 normal both
}
@keyframes typewriter{
from{width: 0;}
to{width: 100%;}
}

.anim-typewriter2{
    animation: typewriter 4s steps(44, end) 1s 1 normal both;
    animation-delay: 3.5s;
    }
    @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
    }
@media screen and (max-width: 768px) 
{
    
}
    