.Exec
{
    background-color: #cafff4;
    padding-top: 64px;
    padding-bottom: 128px;
}

.Exec-container
{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 70%;
}

.Exec-header
{
    text-align: center;
    font-size: 32px;
    padding-bottom: 16px;
}

.Exec-board
{
    display: flex;
    width: 100%;
    gap: 48px;
    justify-content: center;
}

.Exec-member
{
    display: flex;
    flex-direction: column;
}

.Exec-title
{
    font-size: 17px;
    margin: 0;
    text-align: center;
}

.Exec-name
{
    font-size: 17px;
    margin: 0;
    text-align: center;
}

.Exec-headshot
{
    max-width: 100%;
    height: auto;
    width: auto\9;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 768px) 
{
    .Exec-container
    {
        width: inherit;
        margin-right: auto;
        margin-left: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .Exec-board
    {
        flex-direction: column;
    }

    .Exec-headshotWrapper
    {
        display: flex;
        justify-content: center;
    }

    .Exec-member
    {
        padding-bottom: 16px;
    }
}