.Hero
{
    background-color: #B1D6FD;
    position: relative;
    display: flex;
}

.Hero-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.Hero::after
{
    border-radius: 100% / 50%;
}

.Hero-image
{
    max-width: 100%;
    object-fit: cover;
    height: auto;
    width: auto\9;
    border-radius: 10px;
}

.Hero-title
{
    text-align: center;
    font-size: 100px;
    padding-bottom: 12px;
    padding-top: 58px;
    margin: 0;
}

.Hero-description
{
    text-align: center;
    font-size: 48px;
    width: 60%;
    padding-bottom: 32px;
    margin: auto;
}

.Hero-formContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    width: 100%;
}

#name
{
    width: 300px;
    padding: 8px;
    border-radius: 21px;
    margin-bottom: 24px;
    background-color: #EFFEFB;
}

#email
{
    width: 300px;
    padding: 8px;
    border-radius: 21px;
    margin-bottom: 32px;
    background-color: #EFFEFB;
}

.Hero-button
{
    width: 300px;
    padding: 16px;
    border-radius: 21px;
    text-align: center;
    background-color: #4FD4FF;
    font-size: 20px;
    margin-bottom: 200px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;} */
    box-shadow: #4FD4F0 0px 0px 25px 0px;
    text-decoration: none;
    color: black;
}
.Hero-button:hover
{
    background-color: #EFFEFB;
}

.custom-shape-divider-bottom-1666046036 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666046036 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 165px;
}

.custom-shape-divider-bottom-1666046036 .shape-fill {
    fill: #cafff4;
}


@media screen and (max-width: 768px) 
{
    .Hero-container
    {
        width: inherit;
        margin-right: auto;
        margin-left: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
}

