.Hero
{
    background-color: #B1D6FD;
}

.Hero-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.Hero-title
{
    text-align: center;
    font-size: 100px;
    padding-bottom: 12px;
    padding-top: 58px;
    margin: 0;
}

.Hero-description
{
    text-align: center;
    font-size: 48px;
    width: 60%;
    margin: auto;
}

.Hero-formContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name
{
    width: 30%;
    padding: 12px;
    background-color: #EFFEFB;
}

#email
{
    width: 30%;
    padding: 12px;
    background-color: #EFFEFB;
}

@media screen and (max-width: 768px) 
{
    .Hero-container
    {
        width: inherit;
        margin-right: auto;
        margin-left: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
}

